*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    color: white;
    /* background-color: #1b1b32; */
    font-family: Lato, sans-serif;
}
.logo-container{
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-logo{
    width: 50%;
    height: auto;
}
.login-app{
    height: 100vh;
    width: 100vw;
    background-image: url('../img/loginBackground.png');
    background-repeat: no-repeat;       /* Evita que se repita */
    background-size: cover;             /* Cubre todo el área */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed;       /* Fondo fijo al hacer scroll */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main-container{
    width: 500px;
    height: 250px;
    background: rgba(255, 255, 255, 0.02);     /* Semitransparente */
    backdrop-filter: blur(10px);              /* Desenfoque */
    -webkit-backdrop-filter: blur(10px);      /* Soporte para Safari */
    padding: 25px;
    margin: 10px;
    justify-content: center;
    border-radius: 26px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;   
    margin: 0 auto; 
}
.input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
.signIn-button{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    background-color: #021024;
    color: white;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
.signIn-button:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: #021024;
}
.login-message {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  text-align: center;
}
